source_up
export PROJECT_ROOT=$PWD
export PROJECT_DATA_DIR=$PWD/.data

export PYTHONDONTWRITEBYTECODE=1
export PYTHONBREAKPOINT="pudb.set_trace"

# pg env vars
export PGHOST=
export PGPORT=
export PGUSER=
export PGDATABASE=
export PGPASSWORD=
# pg db string
export DUMMY_DB_CONNECTION_STRING=

export NIXPKGS_ALLOW_UNFREE=1
use flake . --impure
